.style2 {
  width: 180px;
  height: 40px;
  background-color: $bg-color-2;
  border: none;
  
  font-family: $original-f-f;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 16.8px;
  letter-spacing: 2.8px;
  color: white;
}
