.section3-container {
  background-image: $section3-bg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  width: 100%;
  .section3-content {
    width: 1200px;
    margin: 0 auto;
    padding: 300px 0px;
    text-align: center;

    h1 {
      margin-bottom: 60px;

      font-family: $original-f-f;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 30px;
      color: white;
    }
  }
}
