.nav-container {
  width: 100%;
  .nav-content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        scale: 0.4;
      }
      .routs {
        display: flex;
        gap: 60px;
        a {
          font-size: 16px;
          text-decoration: none;
          font-family: $original-f-f;
          color: black;
          transition: all 0.3s ease;
          &:hover{
            color: #606060;
          }
        }
        .active {
          font-size: 18px;
          color: #606060;
        }
      }
    }
  }
}
