// font-family
$original-f-f: "Inter";



// buttons style
$bg-color-1:#837f7f;
$bg-color-2:#2B2B2B;
$bg-color-3:rgb(191, 191, 191);


// import images
//section1
$section1-bg: url("../Images/bg.png");

//section2
$section2-photo: url("../Images/HomePagePhoto/Family.JPG");

//section3
$section3-bg: url("../Images/section3.png");

//section 4
$photo1: url("../Images/HomePagePhoto/Katya.JPG");
$photo2: url("../Images/HomePagePhoto/Tanya2.JPG");
$photo3: url("../Images/HomePagePhoto/Sasha.JPG");
$photo4: url("../Images/HomePagePhoto/Tanya3.JPG");
$photo5: url("../Images/HomePagePhoto/Ira.JPG");

//section5
$gif: url("../Images/HomePagePhoto/gif.gif")
