// font-family
$original-f-f: "Inter";



// buttons style
$bg-color-1:#B28F80;
$bg-color-2:#2B2B2B;



// import images
//section1
$section1-bg: url("../Images/bg.png");

//section2
$section2-photo: url("../Images/section2.png");

//section3
$section3-bg: url("../Images/section3.png");

//section 4
$photo1: url("../Images/section4_photo1.jpg");
$photo2: url("../Images/section4_photo2.jpg");
$photo3: url("../Images/section4_photo3.jpg");
$photo4: url("../Images/section4_photo4.jpg");
$photo5: url("../Images/section4_photo5.jpg");

