@import '../../node_modules/normalize.css/normalize.css';
@import "../../node_modules/reset-css/reset.css";
.style1 {
  width: 220px;
  height: 40px;
  background-color: #837f7f;
  border: none;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2.8px;
  color: white;
}

.style2 {
  width: 190px;
  height: 45px;
  background-color: #2B2B2B;
  border: none;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 16.8px;
  letter-spacing: 2.8px;
  color: white;
}

.nav-container {
  width: 100%;
}
.nav-container .nav-content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}
.nav-container .nav-content .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-container .nav-content .navigation img {
  scale: 0.4;
}
.nav-container .nav-content .navigation .routs {
  display: flex;
  gap: 60px;
}
.nav-container .nav-content .navigation .routs a {
  font-size: 16px;
  text-decoration: none;
  font-family: "Inter";
  color: black;
  transition: all 0.3s ease;
}
.nav-container .nav-content .navigation .routs a:hover {
  color: #606060;
}
.nav-container .nav-content .navigation .routs .active {
  font-size: 18px;
  color: #606060;
}

.section1-container {
  background-image: url("../Images/bg.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
}
.section1-container .section1-content {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 160px;
}
.section1-container .section1-content .text {
  margin-top: 437px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1-container .section1-content .text p {
  font-size: 37px;
  font-family: "Inter";
  color: white;
  text-transform: uppercase;
}

.section2-container {
  padding: 100px 0px 100px 0px;
  background: rgb(221, 221, 221);
  background: linear-gradient(108deg, rgb(221, 221, 221) 5%, rgb(222, 222, 222) 47%, rgb(121, 121, 121) 100%);
  width: 100%;
}
.section2-container .section2-content {
  width: 1200px;
  margin: 0 auto;
}
.section2-container .section2-content .card1 {
  display: flex;
  justify-content: space-around;
}
.section2-container .section2-content .card1 .text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2-container .section2-content .card1 .text1 .title1 {
  width: 366px;
  padding-bottom: 60px;
  border-bottom: 1px solid #707070;
}
.section2-container .section2-content .card1 .text1 .title1 h1 {
  color: #2b2b2b;
  font-family: "Inter";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
}
.section2-container .section2-content .card1 .text1 p {
  width: 377px;
  margin-top: 40px;
  color: #2b2b2b;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
}
.section2-container .section2-content .card1 .text1 .btn1 {
  color: white;
  margin-top: 50px;
}
.section2-container .section2-content .card1 .img {
  background-image: url("../Images/HomePagePhoto/Family.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 490px;
}
.section2-container .section2-content .card2 {
  box-sizing: border-box;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.section2-container .section2-content .card2 .title2 {
  margin: auto;
  width: 400px;
  text-align: center;
}
.section2-container .section2-content .card2 .title2 h1 {
  color: #2b2b2b;
  font-family: "Inter";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
}
.section2-container .section2-content .card2 .text2 {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 377px;
  border-left: 1px solid #707070;
  padding-left: 60px;
}
.section2-container .section2-content .card2 .text2 p {
  color: #2b2b2b;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px;
}
.section2-container .section2-content .card2 .btn2 {
  margin-top: 50px;
}

.section3-container {
  background-image: url("../Images/section3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  width: 100%;
}
.section3-container .section3-content {
  width: 1200px;
  margin: 0 auto;
  padding: 300px 0px;
  text-align: center;
}
.section3-container .section3-content h1 {
  margin-bottom: 60px;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  color: white;
}

.section4-container {
  padding: 100px 0px 100px 0px;
  background: rgb(221, 221, 221);
  background: linear-gradient(108deg, rgb(221, 221, 221) 5%, rgb(222, 222, 222) 47%, rgb(121, 121, 121) 100%);
  width: 100%;
}
.section4-container .section4-content {
  width: 1200px;
  margin: 0 auto;
}
.section4-container .section4-content h1 {
  margin: 0px 0px 60px 0px;
  color: #2b2b2b;
  text-align: center;
  font-family: "Inter";
  font-size: 63px;
  font-weight: 400;
  line-height: 84px;
}
.section4-container .section4-content .album {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}
.section4-container .section4-content .album h2 {
  opacity: 0;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 84px;
}
.section4-container .section4-content .album .one {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}
.section4-container .section4-content .album .one .photo1 {
  display: flex;
  align-items: center;
  background-image: url("../Images/HomePagePhoto/Katya.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 763px;
  height: 522px;
  transition: filter 0.5s ease, brightness 0.5s ease;
}
.section4-container .section4-content .album .one .photo2 {
  display: flex;
  align-items: center;
  background-image: url("../Images/HomePagePhoto/Tanya2.JPG");
  background-size: cover;
  background-position: 80% 100%;
  background-repeat: no-repeat;
  width: 368px;
  height: 522px;
  transition: filter 0.5s ease, brightness 0.5s ease;
}
.section4-container .section4-content .album .two {
  display: flex;
  justify-content: space-between;
}
.section4-container .section4-content .album .two .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section4-container .section4-content .album .two .left .photo3 {
  display: flex;
  align-items: center;
  background-image: url("../Images/HomePagePhoto/Sasha.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 540px;
  height: 549px;
  transition: filter 0.5s ease, brightness 0.5s ease;
}
.section4-container .section4-content .album .two .left .photo4 {
  display: flex;
  align-items: center;
  background-image: url("../Images/HomePagePhoto/Ira.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 540px;
  height: 339px;
  transition: filter 0.5s ease, brightness 0.5s ease;
}
.section4-container .section4-content .album .two .right .photo5 {
  display: flex;
  align-items: center;
  background-image: url("../Images/HomePagePhoto/Tanya3.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 588px;
  height: 908px;
  transition: filter 0.5s ease, brightness 0.5s ease;
}
.section4-container .section4-content .album .photo1:hover,
.section4-container .section4-content .album .photo2:hover,
.section4-container .section4-content .album .photo3:hover,
.section4-container .section4-content .album .photo4:hover,
.section4-container .section4-content .album .photo5:hover {
  filter: brightness(0.7) grayscale(100%);
}
.section4-container .section4-content .album .photo1:hover h2,
.section4-container .section4-content .album .photo2:hover h2,
.section4-container .section4-content .album .photo3:hover h2,
.section4-container .section4-content .album .photo4:hover h2,
.section4-container .section4-content .album .photo5:hover h2 {
  opacity: 1;
}
.section4-container .section4-content .section4-footer {
  text-align: center;
}
.section4-container .section4-content .section4-footer p {
  margin: 50px 0px 20px 0px;
}
.section4-container .section4-content .section4-footer .btn {
  color: white;
}

.gif {
  width: 100%;
  height: 650px;
  background-image: url("../Images/mzu.gif");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.gif h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 84px;
  color: white;
}

.section6-container {
  padding: 100px 0px 100px 0px;
  background: rgb(221, 221, 221);
  background: linear-gradient(108deg, rgb(221, 221, 221) 5%, rgb(222, 222, 222) 47%, rgb(121, 121, 121) 100%);
  width: 100%;
}
.section6-container .section6-content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.section6-container .section6-content .slider {
  transition: all 0.3 ease-in-out;
  opacity: 1;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.section6-container .section6-content .slider .photo {
  position: relative;
  width: 390px;
  height: 580px;
}
.section6-container .section6-content .slider .photo img {
  width: 390px;
  height: 580px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section6-container .section6-content .slider .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 350px;
}
.section6-container .section6-content .slider .text p {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 300;
}
.section6-container .section6-content .slider .text #main-text {
  line-height: 32.4px;
}
.section6-container .section6-content .slider .text #title,
.section6-container .section6-content .slider .text #sine {
  font-size: 22px;
  font-weight: 300;
}
.section6-container .section6-content .on {
  filter: brightness(0.9) grayscale(100%);
  transition: all 0.3 ease-in-out;
  opacity: 0.5;
}
.section6-container .section6-content h1 {
  cursor: pointer;
  font-size: 80px;
  font-family: "Inter";
  font-weight: 500;
  color: #837f7f;
}
.section6-container .section6-content #left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.section6-container .section6-content #right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.footer-container .footer-content {
  padding: 30px;
  background-color: #2B2B2B;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-container .footer-content p {
  font-family: "Inter";
  font-size: 16px;
  color: white;
}
.footer-container .footer-content .instagram {
  display: flex;
  align-items: center;
}
.footer-container .footer-content .instagram span {
  text-decoration: underline;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.footer-container .footer-content .instagram a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=main.css.map */