.footer-container {
  width: 100%;
  background-color: $bg-color-2;
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      font-family: $original-f-f;
      font-size: 15px;
      color: white;
    }
    .about-site {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      .info {
        ul {
          padding-top: 10px;
          li {
            padding: 5px 0px;
            font-family: $original-f-f;
            font-size: 13px;
            color: rgb(133, 133, 133);
          }
        }
      }
      .routs {
        a {
          font-family: $original-f-f;
          font-size: 15px;
          color: white;
          text-decoration: none;
        }
        a.active {
          color: #f8f092;
        }
        padding-right: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .privet {
      border-top: 1px solid silver;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0px;
      .designed {
        span {
          a {
            margin-left: 10px;
            color: white;
          }
        }
      }
      .links {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          img {
            filter: grayscale(100%);
          }
          img:hover {
            filter: none;
          }
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer-container {
    .footer-content {
      max-width: 100%;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      p {
        font-family: $original-f-f;
        font-size: 14px;
        color: white;
      }
      .about-site {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .info {
          ul {
            padding-top: 10px;
            li {
              padding: 5px 0px;
              font-family: $original-f-f;
              font-size: 13px;
              color: rgb(133, 133, 133);
            }
          }
        }
        .routs {
          a {
            font-family: $original-f-f;
            font-size: 14px;
            color: white;
            text-decoration: none;
          }
          a.active {
            color: #f8f092;
          }
          padding-right: 50px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        @media (min-width: 600px) {
          .routs {
            display: none;
          }
        }
      }
      .privet {
        border-top: 1px solid silver;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        justify-content: space-between;
        padding: 10px 0px;
        .designed {
          span {
            a {
              margin-left: 10px;
              color: white;
            }
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 20px;
          a {
            img {
              filter: grayscale(100%);
            }
            img:hover {
              filter: none;
            }
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .footer-container {
    .footer-content {
      max-width: 100%;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      p {
        font-family: $original-f-f;
        font-size: 12px;
        color: white;
      }
      .about-site {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .info {
          ul {
            padding-top: 10px;
            li {
              padding: 5px 0px;
              font-family: $original-f-f;
              font-size: 13px;
              color: rgb(133, 133, 133);
            }
          }
        }
        .routs {
          a {
            font-family: $original-f-f;
            font-size: 15px;
            color: white;
            text-decoration: none;
          }
          a.active {
            color: #f8f092;
          }
          padding-right: 50px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        @media (max-width: 3800px) {
          .routs {
            display: none;
          }
        }
      }
      .privet {
        border-top: 1px solid silver;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 10px 0px;
        .designed {
          span {
            a {
              margin-left: 10px;
              color: white;
            }
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 20px;
          a {
            img {
              filter: grayscale(100%);
            }
            img:hover {
              filter: none;
            }
            cursor: pointer;
          }
        }
      }
    }
  }
}
